In [52]:
import pandas as pd
import numpy as np

In [53]:
df=pd.read_csv("AAPL.csv")
df.head()
label=df.pop('Close(t)')
feature=df
df.head()

,Date,Open,High,Low,Volume,SD20,Upper_Band,Lower_Band,S_Close(t-1),S_Close(t-2),...,QQQ_MA10,QQQ_MA20,QQQ_MA50,SnP_Close,SnP(t-1)),SnP(t-5),DJIA_Close,DJIA(t-1)),DJIA(t-5),Close_forcast
0,2005-10-17,6.66,6.69,6.50,154208600,0.169237,6.827473,6.150527,6.67,6.63,...,33.692,33.9970,34.2690,1190.10,1186.57,1187.33,10348.10,10287.34,10238.76,6.45
1,2005-10-18,6.57,6.66,6.44,152397000,0.168339,6.819677,6.146323,6.60,6.67,...,33.570,33.9525,34.2466,1178.14,1190.10,1184.87,10285.26,10348.10,10253.17,6.78
2,2005-10-19,6.43,6.78,6.32,252170800,0.180306,6.861112,6.139888,6.45,6.60,...,33.562,33.9600,34.2330,1195.76,1178.14,1177.68,10414.13,10285.26,10216.91,6.93
3,2005-10-20,6.72,6.97,6.71,339440500,0.202674,6.931847,6.121153,6.78,6.45,...,33.567,33.9455,34.2190,1177.80,1195.76,1176.84,10281.10,10414.13,10216.59,6.87
4,2005-10-21,7.02,7.03,6.83,199181500,0.216680,6.974860,6.108140,6.93,6.78,...,33.586,33.9365,34.2034,1179.59,1177.80,1186.57,10215.22,10281.10,10287.34,7.01

In [54]:
feature=feature.drop(['Date','Date_col', 'Day', 'DayofWeek', 'DayofYear', 'Week',
       'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start',
       'Is_year_end', 'Is_year_start', 'Is_leap_year', 'Year', 'Month'],axis=1)
feature = (feature - feature.mean(axis=0)) / feature.std(axis=0)

In [55]:
alpha=0.01
weight=np.zeros(feature.shape[1])
bias=0
iteration=1000

In [56]:
for i in range(iteration):
    y_pre=np.dot(feature,weight)+bias
    error=y_pre-label
    weight=weight-alpha*((np.dot(feature.T,error))/feature.shape[0])
    bias = bias - alpha * np.mean(error)

In [57]:
print(bias)
y_pre=np.dot(feature,weight)+bias
weight

83.97486979980854

array([ 3.57474727,  3.60660965,  3.65317901, -0.2141905 ,  0.45945469,
        3.14140586,  3.51216499,  3.51582155,  3.32179418,  3.19385328,
        3.09839898,  3.45767574,  3.38343064,  3.23093964,  3.31842916,
        3.29841445,  2.29998794,  3.44274674,  3.44274674,  3.44274674,
        3.44274674,  3.44274674,  1.87638337,  0.85054106,  2.08350487,
       -0.04742403,  3.29303567, -0.09281975, -0.70388024,  0.52376365,
        0.52376365, -0.05683926,  1.06455627,  0.4837908 ,  1.20657201,
        1.08333417,  0.9789551 ,  0.86361085,  0.95082104,  1.03047712,
        1.05870759, -0.31239044, -0.41245673, -0.64679899, -0.07122246,
       -0.17240936, -0.40582031,  3.64655863])

In [60]:
y_pred = np.dot(feature, weight) + bias
SS_res = np.sum((label - y_pred) ** 2)
SS_tot = np.sum((label - np.mean(label)) ** 2)
R_squared = 1 - (SS_res / SS_tot)
print(f"{R_squared*100:.2f}%")

99.86%